<div class="dashboard-left">
  <img
    alt="Girl in a jacket"
    height="600"
    src="/static/images/background-img.png"
    width="500"
  />
  <h1>Bhautik</h1>
  <a class="page-a" href="/dashboard">Dashboard</a>
  <div class="invoice-dropdown">
    <a href="/newinvoice">New invoice</a>
    <a href="/addmedicine">Add medicine</a>
    <a href="/managemedicine">Manage medicine</a>
    <a href="/addpurchase">Addnewpurchase</a>
    <a href="/salesreport">Sales Report</a>
    <a href="/purchasereport">Purchase Report</a>
    <a href="/cart">Cart</a>
  </div>
</div>
