<footer>
  <div class="footer-item">
    <div class="footer-div-1">
      <h2>Company name</h2>
      <p>fferfr rgfrg frfd ffds fdfe f fer sr</p>
    </div>
    <div class="footer-div-2">
      <h5>Quick Links</h5>
      <hr />
      <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/home">Search</a></li>
        <li><a href="/home">Contact</a></li>
        <li><a href="/home">About</a></li>
      </ul>
    </div>

    <div class="footer-div-4">
      <h5>Quick Links</h5>
      <hr />
      <ul>
        <li><i class="fa-solid fa-location-dot"></i> XYZ,ABC</li>
        <li><i class="fa-solid fa-phone"></i> 998724056</li>
        <li><i class="fa-regular fa-envelope"></i> xyz@gmail.com</li>
      </ul>
      <div class="footer-icon">
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-google-plus"></i>
      </div>
    </div>
  </div>
  <p class="footer-p">copyright &copy;2024</p>
</footer>
