* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.container {
background-color: #2b4162;
background-image: linear-gradient(315deg, #2b4162 0%, #12100e 74%);
}

form {
    display: flex;
    flex-direction: column;
}

.login-title {
    margin: 15px 0px;
    color: #fff;
}

form button {
    width: 100px;
    height: 30px;
    border-radius: 7px;
    margin: 20px 0px;
    margin-left: 80px;
    cursor: pointer;
}



.massage-div {
    color: #000;
    background-color: #fff;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0px;
    height: 30px;
    border-radius: 7px;
    animation: hideMe 3s forwards;
}

@keyframes hideMe {
    0% {
        opacity: 1;
    }

    99.99% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

hr {
    margin: 20px 100px;
}


form button {
    margin: 0;
    width: auto;
    height: auto;
    background: transparent;
    border: 0;
    font-size: 20px;
}

form button i {
    font-size: 25px;
    color: #fff;
}

th {
    width: 150px;
    height: 50px;
    border: 2px solid #fff;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.dashboard-right {
    margin: 30px;
    margin-left: 60px;
    margin-top: 50px;
}

.head-th {
    background-color: #000;
}
